option_settings:
  aws:elasticbeanstalk:container:java:
    JarName: lunaria-backend-springboot-0.0.1-SNAPSHOT.jar
    JVM Options: '-Xms512m -Xmx1024m -XX:+UseG1GC'
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:application:environment:
    SPRING_JPA_HIBERNATE_DDL_AUTO: "validate"
    SERVER_SERVLET_CONTEXT_PATH: "/api/v1.0"
    AWS_REGION: "us-east-1"
